{% extends 'base.html.twig' %}
{% block meta %}
    <meta name="description" content="Application web, site internet, application mobile. Digibinks est une agence d’accompagnement digital des entrepreneur. Elle réalise des applications web et applications mobiles en accompagnant les entrepreneurs du début à la fin" />
{% endblock %}

{% block body %}
    <section class="home-slider owl-carousel">

        <div class="slider-item" style="background-image:url({{ 'build/images/banniere1.jpg' }});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading">Faites-nous confiance</span>
                        <h1 class="mb-4">Faites vivre vos projets digitaux.</h1>
                        <p><a href="#devis" class="btn btn-primary px-4 py-3 mt-3">Demander un devis</a></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="slider-item" style="background-image:url({{ 'build/images/banniere2.jpg' }});">
            <div class="overlay"></div>
            <div class="container">
                <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">
                    <div class="col-md-7 ftco-animate">
                        <span class="subheading">Vous avez toujours voulu entreprendre ?</span>
                        <h1 class="mb-4">C'est maintenant, avec nous.</h1>
                        <p><a href="#devis" class="btn btn-primary px-4 py-3 mt-3">Demander un devis</a></p>
                    </div>
                </div>
            </div>
        </div>

{#        <div class="slider-item" style="background-image:url({{ 'build/images/banniere3.jpg' }});">#}
{#            <div class="overlay"></div>#}
{#            <div class="container">#}
{#                <div class="row no-gutters slider-text align-items-center justify-content-start" data-scrollax-parent="true">#}
{#                    <div class="col-md-7 ftco-animate">#}
{#                        <span class="subheading">Gagnez en chiffre d'affaires</span>#}
{#                        <h1 class="mb-4">On modernise votre business</h1>#}
{#                        <p><a href="#decouvrir" class="btn btn-primary px-4 py-3 mt-3">Demander un devis</a></p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}

    </section>

    <section class="ftco-section" id="decouvrir" >
        <div class="container">
            <div class="row d-flex">

{#                <div class="col-md-5 order-md-last wrap-about align-items-stretch">#}
{#                    <div class="wrap-about-border ftco-animate">#}
{#                        <div class="img" style="background-image: url({{asset('build/images/about.jpg')}})"></div>#}
{#                        <div class="text">#}
{#                            <h3>Notre dernière réalisation</h3>#}
{#                            <p>Blablabla(car)</p>#}
{#                            <p>Blabla</p>#}
{#                            <p><a href="#" class="btn btn-primary py-3 px-4">Voir</a></p>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

                <div class="col-md-12 wrap-about pr-md-4 ftco-animate">
                    <h2 class="mb-4">Nos compétences </h2>
                    <p>Nous vous accompagnons dans la réalisation de vos projets digitaux.</p>
                    <div class="row mt-5">
                        <div class="col-lg-6">
                            <div class="services active text-center">
                                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-collaboration"></span></div>
                                <div class="text media-body">
                                    <h3>Site web</h3>
                                    <p>Site internet répondant à vos besoins ou à ceux de vos clients.</p>
                                </div>
                            </div>
{#                            <div class="services text-center">#}
{#                                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-search-engine"></span></div>#}
{#                                <div class="text media-body">#}
{#                                    <h3>Stratégie de communication</h3>#}
{#                                    <p>Diagnostic, propositions et accompagnement.</p>#}
{#                                </div>#}
{#                            </div>#}
                        </div>

                        <div class="col-lg-6">
                            <div class="services text-center">
                                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-analysis"></span></div>
                                <div class="text media-body">
                                    <h3>Application mobile</h3>
                                    <p>De la conception d’un cahier des charges au déploiement de votre projet, nous vous accompagnons sur toutes les étapes.</p>
                                </div>
                            </div>
{#                            <div class="services text-center">#}
{#                                <div class="icon mt-2 d-flex justify-content-center align-items-center"><span class="flaticon-handshake"></span></div>#}
{#                                <div class="text media-body">#}
{#                                    <h3>Acquisition de clientèle</h3>#}
{#                                    <p>Gestion des publicitées : Facebook, Google, Youtube, Instagram, Snapchat, Twitter, etc.</p>#}
{#                                </div>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{#    <section class="ftco-intro ftco-no-pb img" style="background-image: url({{ 'build/images/bg_3.jpg' }});">#}
{#        <div class="container">#}
{#            <div class="row justify-content-center mb-5">#}
{#                <div class="col-md-10 text-center heading-section heading-section-white ftco-animate">#}
{#                    <h2 class="mb-0">You Always Get the Best Guidance</h2>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}

{#    <section class="ftco-counter" id="section-counter">#}
{#        <div class="container">#}
{#            <div class="row d-md-flex align-items-center justify-content-center">#}
{#                <div class="wrapper">#}
{#                    <div class="row d-md-flex align-items-center">#}
{#                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">#}
{#                            <div class="block-18">#}
{#                                <div class="icon"><span class="flaticon-doctor"></span></div>#}
{#                                <div class="text">#}
{#                                    <strong class="number" data-number="705">0</strong>#}
{#                                    <span>Projects Completed</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">#}
{#                            <div class="block-18">#}
{#                                <div class="icon"><span class="flaticon-doctor"></span></div>#}
{#                                <div class="text">#}
{#                                    <strong class="number" data-number="809">0</strong>#}
{#                                    <span>Satisfied Customer</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">#}
{#                            <div class="block-18">#}
{#                                <div class="icon"><span class="flaticon-doctor"></span></div>#}
{#                                <div class="text">#}
{#                                    <strong class="number" data-number="335">0</strong>#}
{#                                    <span>Awwards Received</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                        <div class="col-md d-flex justify-content-center counter-wrap ftco-animate">#}
{#                            <div class="block-18">#}
{#                                <div class="icon"><span class="flaticon-doctor"></span></div>#}
{#                                <div class="text">#}
{#                                    <strong class="number" data-number="35">0</strong>#}
{#                                    <span>Years of Experienced</span>#}
{#                                </div>#}
{#                            </div>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </section>#}



    <section class="ftco-intro ftco-no-pb img" style="background-image: url({{ 'build/images/bg_1.jpg' }});">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-9 col-md-8 d-flex align-items-center heading-section heading-section-white ftco-animate">
                    <h2 class="mb-3 mb-md-0">Un accompagnement digital de qualité</h2>
                </div>
                <div class="col-lg-3 col-md-4 ftco-animate">
                    <p class="mb-0"><a href="#devis" class="btn btn-white py-3 px-4">Demandez un devis</a></p>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section ftco-no-pb">
        <div class="container-fluid px-0">
            <div class="row no-gutters justify-content-center mb-5">
                <div class="col-md-7 text-center heading-section ftco-animate">
                    <h2 class="mb-4">Nos projets récents</h2>
                    <p></p>
                    <p></p>
                </div>
            </div>
            <div class="row no-gutters">

                {% for realisation in realisations %}
                    <div class="col-md-4 col-lg-3">
                        <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ '../uploads/pictures/'}}{{ realisation.picture }});">
                            <div class="overlay"></div>
                            <a href="{{ realisation.url }}" target="_blank" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>
                            <div class="text text-center p-4">
                                <h3><a href="{{ realisation.url }}" target="_blank">{{ realisation.customerName }}</a></h3>
                                <span>{{ realisation.typeRealisation }}</span>
                            </div>
                        </div>
                    </div>
                {% endfor %}<br><br><br>
{#                <div class="col-md-4 col-lg-3">#}
{#                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ 'build/images/boucheriesam.jpg' }});">#}
{#                        <div class="overlay"></div>#}
{#                        <a href="http://boucherie-levallois-sam.fr/" target="_blank" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>#}
{#                        <div class="text text-center p-4">#}
{#                            <h3><a href="http://boucherie-levallois-sam.fr/" target="_blank">Boucherie SAM</a></h3>#}
{#                            <span>Site vitrine</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-lg-3">#}
{#                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ 'build/images/commenever.png' }});">#}
{#                        <div class="overlay"></div>#}
{#                        <a href="http://commeneverparty.com/" target="_blank" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>#}
{#                        <div class="text text-center p-4">#}
{#                            <h3><a href="http://commeneverparty.com/" target="_blank">Comme Never</a></h3>#}
{#                            <span>Site vitrine</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}

{#                <div class="col-md-4 col-lg-3">#}
{#                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ 'build/images/mouvaccess.jpg' }});">#}
{#                        <div class="overlay"></div>#}
{#                        <a href="http://mouvaccess.com/" target="_blank" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>#}
{#                        <div class="text text-center p-4">#}
{#                            <h3><a href="http://mouvaccess.com/" target="_blank">MouvAccess</a></h3>#}
{#                            <span>Site de e-commerce</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-lg-3">#}
{#                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ 'build/images/logo_buysmartparis.webp' }});">#}
{#                        <div class="overlay"></div>#}
{#                        <a href="http://buysmartparis.com/" target="_blank" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>#}
{#                        <div class="text text-center p-4">#}
{#                            <h3><a href="http://buysmartparis.com/" target="_blank">Buy Smart Paris</a></h3>#}
{#                            <span>Site de e-commerce</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-lg-3">#}
{#                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image: url({{ 'build/images/aloedebea.png' }});">#}
{#                        <div class="overlay"></div>#}
{#                        <a href="https://www.aloedebea.com" target="_blank" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>#}
{#                        <div class="text text-center p-4">#}
{#                            <h3><a href="https://www.aloedebea.com" target="_blank">Aloe de Bea</a></h3>#}
{#                            <span>Site de e-commerce</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="col-md-4 col-lg-3">#}
{#                    <div class="project img ftco-animate d-flex justify-content-center align-items-center" style="background-image:url({{ 'build/images/magic_bee.jpeg' }});">#}
{#                        <div class="overlay"></div>#}
{#                        <a href="https://magic-bee.fr/" target="_blank" class="btn-site d-flex align-items-center justify-content-center"><span class="icon-subdirectory_arrow_right"></span></a>#}
{#                        <div class="text text-center p-4">#}
{#                            <h3><a href="https://magic-bee.fr/" target="_blank">Magic Bee</a></h3>#}
{#                            <span>Site de e-commerce</span>#}
{#                        </div>#}
{#                    </div>#}
{#                </div>#}
            </div>
        </div>
    </section>

    {% if (app.request.method != "POST") %}
    <section class="ftco-section ftco-consult ftco-no-pt ftco-no-pb" style="background-image: url({{ 'build/images/bg_5.jpg' }});" data-stellar-background-ratio="0.5" id="devis">
        <div class="overlay"></div>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-md-6 py-5 px-md-5">
                    <div class="py-md-5">
                        <div class="heading-section heading-section-white ftco-animate mb-5">
                            <h2 class="mb-4">Demander une estimation</h2>
                            <p>Laissez nous vos coordonnées et parlez nous de votre business / projet. Nous vous recontacterons très rapidement pour en discuter.</p>
                        </div>
                        {{ form_start(form) }}
                        <div class="appointment-form ftco-animate">
                            <div class="d-md-flex">
                                <div class="form-group">
                                    {{ form_widget(form.robots, {'attr' : {'class': 'form-control', 'placeholder' : 'Prénom'}}) }}
                                </div>
                                <div class="form-group ml-md-4">
                                    {{ form_widget(form.name, {'attr' : {'class': 'form-control', 'placeholder' : 'Nom'}}) }}
                                </div>
                            </div>

                            <div class="d-md-flex">
                                <div class="form-group">
                                    {{ form_widget(form.email, {'attr' : {'class': 'form-control', 'placeholder' : 'Email'}}) }}
                                </div>
                                <div class="form-group ml-md-4">
                                    {{ form_widget(form.phoneNumber, {'attr' : {'class': 'form-control', 'placeholder' : 'Téléphone'}}) }}
                                </div>
                            </div>

                            <div class="d-md-flex">
                                <div class="form-group">
                                    {{ form_widget(form.message, {'attr' : {'class': 'form-control', 'placeholder' : 'Votre projet'}}) }}
                                </div>
                                <div class="form-group ml-md-4">
                                    {{ form_widget(form.Envoyer, {'attr' : {'class': 'btn btn-white py-3 px-4', 'placeholder' : 'Envoyer'}}) }}
                                </div>
                            </div>
                        </div>
                        {{ form_rest(form) }}
                        {{ form_end(form) }}

                    </div>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if articles != [] %}
    <section class="ftco-section bg-light">
        <div class="container">
            <div class="row justify-content-center mb-5 pb-2">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4"><span>Blog</span></h2>
                    <p>Le contenu du blog est pensé pour vous aider à développer votre business</p>
                </div>
            </div>
            <div class="row">
                {% for article in articles %}
                    <div class="col-md-6 col-lg-4 ftco-animate">
                        <div class="blog-entry">
                            <a href="{{ url('blog_show', {'id': article.id }) }}" class="block-20 d-flex align-items-end" style="background-image: url({{ '../uploads/pictures/'}}{{ article.picture }});">
                                <div class="meta-date text-center p-2">
                                    <span class="day">{{ article.creationDate|date("d") }}</span>
                                    <span class="mos">{{ article.creationDate|date('M')}}</span>
                                    <span class="yr">{{ article.creationDate|date('Y')}}</span>
                                </div>
                            </a>
                            <div class="text bg-white p-4">
                                <h3 class="heading"><a href="{{ url('blog_show', {'id': article.id }) }}">{{ article.title }}</a></h3>
                                <p>{{article.content |raw}}</p>
                                <div class="d-flex align-items-center mt-4">
                                    <p class="mb-0"><a href="{{ url('blog_show', {'id': article.id }) }}" class="btn btn-primary">Voir plus  <span class="ion-ios-arrow-round-forward"></span></a></p>
                                    <p class="ml-auto mb-0">
                                        {#                                    <a href="{{ url('blog_show', {'id': article.id }) }}" class="mr-2">Admin</a>#}
                                        <a href="{{ url('blog_show', {'id': article.id }) }}" class="meta-chat"><span class="icon-chat"></span> {{ article.comments |length }}</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    {% endif %}

    <section class="ftco-section testimony-section">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-md-8 text-center heading-section ftco-animate">
                    <h2 class="mb-4">Témoignages clients</h2>
                    <p>Pas <b>encore</b> convaincu ? Regardez ce que disent nos derniers clients de nous.</p>
                </div>
            </div>
            <div class="row ftco-animate justify-content-center">
                <div class="col-md-12">

                    <div class="carousel-testimony owl-carousel">
                        {% for review in reviews %}
                        <div class="item">
                            <div class="testimony-wrap d-flex">
                                <div class="user-img" style="background-image: url({{ '../uploads/pictures/'}}{{ review.picture }})">
                                </div>
                                <div class="text pl-4">
                                    <span class="quote d-flex align-items-center justify-content-center">
                                      <i class="icon-quote-left"></i>
                                    </span>
                                    <p>{{ review.content }}</p>
                                    <p class="name">{{ review.name }}, le {{ review.date|date("d/m/Y") }}</p>
                                    <span class="position">{{ review.title }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
