<h3>Nouveau contact sur le site !</h3>

<b>Nom : </b> {{ contact.name }} <br>
{% if contact.robots != 4 %} <b>Prénom : </b> {{ contact.robots }} <br> {% endif %}
<b>Email : </b> <a href="mailto:{{ contact.email }}">{{ contact.email }}</a><br>
<b>Téléphone : </b> <a href="tel:{{ contact.phoneNumber }}">{{ contact.phoneNumber }}</a><br><br><br>
{{ contact.message }}
